
<div class="brands-strip scrollwatch">
    <div class="container">
        <h2 class="brands-strip__title">Our SOS brands</h2>
        <p class="brands-strip__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
        <div class="brands-strip__list">
            {% for i in site.data.brands.items %}
            <div class="brands-strip__item">
                {% capture brightness%}{{i.colour | color_brightness}}{%endcapture%}
                {% assign brightness  = brightness | plus:0 %}
                <a class="brands-strip__item-inner{%if brightness == 0%} light{%endif%}"" style="background-color: #{{i.colour}};" href="{{i.link}}"
                    title="{{i.title}}" target="_blank" rel="external noopener">
                    {%-assign image_type = i.image | slice: -3, 3-%}
                    {% include picture.html url=i.image type=image_type alt=i.title%}
                    <h3 class="brands-strip__item-title">{{i.title}}</h3>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>