$colour_primary: #3c52b1;
$colour_secondary: #5677ff;
$colour_tertiary: #e2e8ff;
$colour_action: #00e69b;
$colour_black: #111111;
$font_primary: objektiv-mk2, sans-serif;

a {
  text-decoration: none;
}
html {
  font-family: $font_primary;
  font-weight: 300;
  font-size: 22px;
}
.header {
  background: $colour_primary;
  padding: 25px 50px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.header-image {
  height: 100vh;
  background: url("/images/header-image.png") no-repeat 150% bottom;
  padding-top: 100px;
  display: flex;
  align-items: center;
  padding-bottom: 88px;
  .container {
    height: 100%;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
  &__left {
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding-right: 90px;
    flex: 1 1 60%;
  }
  &__right {
    position: relative;
    flex: 1 1 40%;
  }
  &__image-wrapper {
    margin-bottom: 50px;
  }
  &__footer {
    flex: 1 1 100%;
    align-self: flex-end;
    text-align: center;
    margin-bottom: 40px;
    p {
      margin: 0;
    }
    span {
      margin-top: 20px;
      color: $colour_secondary;
      border: 6px solid $colour_secondary;
      padding: 10px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: inline-block;
    }
  }
  .roundel {
    position: absolute;
    &.papers {
      top: 10%;
      left: 0;
    }
    &.health {
      top: 24%;
      right: 0;
      transition-delay: 0.25s;
    }
    &.payment {
      top: 62%;
      left: 100px;
      transition-delay: 0.4s;
    }
  }
}

.roundel {
  width: 218px;
  height: 218px;
  border-radius: 50%;
  border: 8px solid $colour_secondary;
  background: $colour_tertiary;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: translateY(10px);
  transition: all 0.5s ease-in-out 0s;
  opacity: 0;
  &.scrolled {
    transform: translateY(0);
    opacity: 1;
  }
}

.featured-strip {
  position: relative;
  top: -88px;
  background: $colour_primary;
  &__wrapper {
    display: flex;
  }
  &__title {
    background: $colour_secondary;
    color: #fff;
    padding-right: 50px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      right: 100%;
      width: 500px;
      height: 100%;
      background: $colour_secondary;
    }
    &:after {
      content: "";
      display: block;
      height: 75%;
      background: #fff;
      width: 1px;
      position: absolute;
      top: 12.5%;
      right: 25px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    padding: 0 50px;
    img {
      margin: 0 25px;
    }
  }
}

.select-strip {
  &__title {
    text-align: center;
    color: $colour_secondary;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
}

.block {
  flex: 0 1 100%;
  margin: 0 10px;
  border: 10px solid $colour_tertiary;
  padding: 25px;
  text-align: center;
  color: $colour_black;
  transition: all 0.4s ease-in-out 0s;
  &__image-wrapper {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__image {
    max-height: 100%;
    max-width: 100%;
  }
  &__title {
    text-decoration: underline;
  }
  &:hover {
    border-color: $colour_secondary;
    background: $colour_tertiary;
    color: $colour_secondary;
  }
}
