{%- assign partners = site.partners | split: ", " -%}
{%if include.section and include.section.partners.size > 0 %}
{%assign partners = include.section.partners | split: ", " %}
{%endif%}
<div class="featured-strip">
    <div class="container">
        <div class="featured-strip__wrapper">
            <div class="featured-strip__title">
                <h3>Our partners:</h3>
            </div>
            <div class="featured-strip__list">
                {%- for item in partners -%}
                {%- capture image_src-%}/images/upload/featured-{{item}}.png{%- endcapture -%}
                {%- capture image_alt-%}{{-item |capitalize-}}{%-endcapture-%}
                {%-include picture.html url=image_src alt=image_alt type="png"-%}
                {%- endfor -%}
            </div>
        </div>
    </div>
</div>