{%- assign seen_on = "mirror, mail, msn, telegraph" | split: ", " -%}

<div class="featured-strip">
    <div class="container">
        <div class="featured-strip__wrapper">
            <div class="featured-strip__title">
                <h3>Our partners:</h3>
            </div>
            <div class="featured-strip__list">
                {%- for item in seen_on -%}
                {%- capture image_src-%}/images/{{item}}.png{%- endcapture -%}
                {%- capture image_alt-%}"{{-item |capitalize-}}"{%-endcapture-%}
                {%-include picture.html url=image_src alt=image_alt type="png"-%}
                {%- endfor -%}
            </div>
        </div>
    </div>
</div>