{% if include.label %}
{%assign label = include.label%}
{%assign slug = include.name%}
{% else %}
{%assign label = include.name%}
{%assign slug = include.slug%}
{%endif%}
{% if include.unique_name != false%}
{% capture id%}{{include.form_name | slugify }}_{{slug}}{%endcapture%}
{%endif%}
<label for={{id}} class="field__label">{{label}}</label>
{% if include.type %}
{%assign field_type = include.type%}
{%else%}
{%assign field_type = "text"%}
{%endif%}
{%- if include.helptext -%}
<p class="field__helptext">{{-include.helptext-}}</p>
{%- endif -%}
<input type="{{field_type}}" id="{{id}}" name="{{slug}}" required="{{-input.required-}}" class="field__input"
    placeholder="{{-include.placeholder-}}" data-parsley-group="{{include.fieldset}}">