<label for="{{-include.slug-}}" class="field__label">{{-include.name-}}</label>
{%- if include.helptext -%}
<p class="field__helptext">{{-include.helptext-}}</p>
{%- endif -%}
{%capture results_id %}{{-include.slug-}}-postcode_lookup{%endcapture%}
<div class="field__input-wrap"><input type="text" name="{{-include.slug-}}" required="{{-input.required-}}"
        class="field__input" placeholder="{{-include.placeholder-}}" maxlength="8"
        data-parsley-group="{{include.fieldset}}">
    <div class="field__lookup-button"><button type="button" class="button">Find address</button></div>
</div>
<div id="{{results_id}}"></div>
<div class="form__field form__field--address" style="display:none;"><label for="{{-include.slug-}}-line1"
        class="field__label">Line 1</label><input name="{{-include.slug-}}-line1" type="text" required
        class="field__input" data-parsley-group="{{include.fieldset}}"></div>
<div class="form__field form__field--address" style="display:none;"><label for="{{-include.slug-}}-line2"
        class="field__label">Line 2</label><input name="{{-include.slug-}}-line2" type="text" class="field__input"
        data-parsley-group="{{include.fieldset}}"></div>
<div class="form__field form__field--address" style="display:none;"><label for="{{-include.slug-}}-towncity"
        class="field__label">Town/city</label><input name="{{-include.slug-}}-towncity" type="text" required
        class="field__input" data-parsley-group="{{include.fieldset}}"></div>
<div class="form__field form__field--address" style="display:none;"><label for="{{-include.slug-}}-county"
        class="field__label">County</label><input name="{{-include.slug-}}-county" type="text" required
        class="field__input" data-parsley-group="{{include.fieldset}}"></div>

<script>
    window.postJqueryScripts.push("/js/src/field_postcode_lookup.js")
</script>