{% if include.label %}
{%assign label = include.label%}
{%assign slug = include.name%}
{% else %}
{%assign label = include.name%}
{%assign slug = include.slug%}
{%endif%}
{% capture id%}{{include.form_name | slugify }}_{{slug}}{%endcapture%}
<label for={{id}} class="field__label">{{label}}</label>
{% if include.type %}
{%assign field_type = include.type%}
{%else%}
{%assign field_type = "text"%}
{%endif%}
{%- if include.helptext -%}
<p class="field__helptext">{{-include.helptext-}}</p>
{%- endif -%}
<div class="form__input-wrapper"><i class="price-icon">£</i><input type="{{field_type}}" name="{{slug}}"
        required="{{-input.required-}}" id="{{id}}" class="field__input field__input--price" placeholder="{{-include.placeholder-}}"
        data-parsley-group="{{include.fieldset}}"></div>
<script>
    window.postJqueryScripts.push('/js/src/field_price.js');
</script>