<script src="https://identity-js.netlify.com/v1/netlify-identity-widget.js" defer></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script>
<script src="{{ "/js/script.js" | relative_url }}"></script>
<script src="{{ "/js/lazysizes.min.js" | relative_url }}" defer></script>
{%- if include.layout && include.layout == 'form' -%}
<script src="{{ "/js/parsley.min.js" | relative_url }}" type="text/javascript" defer></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.form__proceed-button').on('click', function () {
            var parent_fieldset = $(this).parents('fieldset');
            var group_name = parent_fieldset.attr('data-fieldset-name');
            var parent_form = $(this).parents('form');
            parent_form.parsley().whenValidate({
                group: group_name,
                force: true
            }).done(function () {
                parent_fieldset.hide();
                parent_fieldset.next().show();
                var index = parent_fieldset.attr("data-index");
                $('.form__fieldset-count').find('span[data-index="' + (parseInt(index) + 1) + '"]').addClass('active');
                $("body, html").animate({ scrollTop: parent_form.offset().top - 20 });
            });
        });


        $('.form__back-button').on("click", function (e) {
            var parent_fieldset = $(this).parents('fieldset');
            var group_name = parent_fieldset.attr('data-fieldset-name');
            var parent_form = $(this).parents('form');
            e.preventDefault();
            parent_fieldset.hide();
            parent_fieldset.prev().show();
            var index = parent_fieldset.attr("data-index");
            $('.form__fieldset-count').find('span[data-index="' + parseInt(index) + '"]').removeClass('active');
            $("body, html").animate({ scrollTop: parent_form.offset().top - 20 });
        });

        $('.form__submit-button').on('click', function (e) {
            e.preventDefault();
            var parent_fieldset = $(this).parents('fieldset');
            var group_name = parent_fieldset.attr('data-fieldset-name');
            var parent_form = $(this).parents('form');
            parent_form.parsley().whenValidate({
                group: group_name,
                force: true
            }).done(function () {
                if (parent_form.hasClass('form--personal-info')) {
                    var html = '<h3>Thank you for submitting your details</h3>';
                    html += '<p>Someone will be in touch shortly to discuss your claim</p>';
                    parent_form.html(html).addClass('form--completed');
                    $("body, html").animate({ scrollTop: parent_form.offset().top - 20 });
                } else {
                    var $modal = $("#modal");
                    $modal.addClass('modal--active');
                    $("body").addClass("modal-active");
                    setTimeout(function () {
                        $modal.removeClass('modal--active');
                        $("body").removeClass("modal-active");
                        parent_form.hide();
                        $('.buyer-panel').show();
                    }, 3000);
                }
            });
        });

        $("#request_callback").on("click", function (e) {
            e.preventDefault();
            $('.buyer-panel').hide();
            $('.form--personal-info').show();
        });
    });
</script>
{%- endif -%}
<script type="text/javascript">
    var fonts = document.createElement('link');
    fonts.rel = 'stylesheet';
    fonts.href = 'https://use.typekit.net/lfq5beq.css';
    fonts.type = 'text/css';
    var defer = document.getElementsByTagName('link')[0];
    defer.parentNode.insertBefore(fonts, defer);

    var slick = document.createElement('link');
    slick.rel = 'stylesheet';
    slick.href = '//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css';
    slick.type = 'text/css';
    var defer_slick = document.getElementsByTagName('link')[0];
    defer_slick.parentNode.insertBefore(slick, defer_slick);

    var select = document.createElement('link');
    select.rel = 'stylesheet';
    select.href = 'https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css';
    select.type = 'text/css';
    var defer_select = document.getElementsByTagName('link')[0];
    defer_select.parentNode.insertBefore(slick, defer);

</script>
{%- capture layout_css -%}/assets/css/{{include.layout}}.css{%-endcapture-%}
<noscript>
    <link rel="stylesheet" href="{{layout_css}}"></noscript>