{%- assign form_data = site.data.forms.items | where: "category", include.section -%}
{%- if form_data -%}
{%- assign form = form_data[0] -%}
{{-form_data.pre_text-}}
{%- assign fieldset_count = 1-%}
{%- assign included_data = false -%}
{%- assign included_date = false -%}
{%- assign fieldset_name = '' -%}
<form class="form">
    {{-form.pre_text | markdownify-}}
    {%- for field in form.fields -%}
    {%- if field.type == 'data' && !included_data -%}
    <script src="{{- "/js/src/bootstrap3-typeahead.min.js" | relative_url -}}"></script>
    {%- assign included_data = true -%}
    {%-endif-%}
    {%- if forloop.first == true -%}
    {% assign fieldset_name = "first"%}
    <fieldset class="form__fieldset active" data-fieldset-name="first" data-index="{{-fieldset_count-}}">
        {%- elsif field.type == 'fieldset' -%}
        <div class="form__buttons">
            {% if fieldset_count > 1%}
            <div class="form__back"><button type="button" class="form__back-button"><i
                        class="icon-chevron-left"></i>Back</button></div>
            {% endif %}
            {%- assign fieldset_count = fieldset_count | plus: 1-%}
            <div class="form__proceed"><button type="button" class="form__proceed-button">Step
                    {{fieldset_count}}</button>
            </div>
        </div>
    </fieldset>
    <fieldset class="form__fieldset" data-fieldset-name="{{-field.name-}}" data-index="{{-fieldset_count-}}">
        {% assign fieldset_name = field.name%}
        {%- endif -%}
        {%- if field.type != 'fieldset' -%}
        <div class="form__field">
            {%- capture field_include -%}field_{{-field.type-}}.html{%- endcapture -%}
            {%- assign field_slug = field.name | slugify 'latin' -%}
            {%- if field.type == 'radio' -%}
            {%- include {{-field_include |trim-}} name=field.name slug=field_slug type=field.type options=field.options helptext=field.helptext required=field.required fieldset=fieldset_name-%}
            {%- else -%}
            {%- include {{-field_include |trim-}} name=field.name slug=field_slug type=field.type helptext=field.helptext required=field.required placeholder=field.placeholder options=field.options fieldset=fieldset_name-%}
            {%- endif -%}
        </div>
        {%-endif -%}
        {%- if forloop.last == true -%}
        <div class="form__buttons">
            <div class="form__back"><button type="button" class="form__back-button"><i
                        class="icon-chevron-left"></i>Back</button></div>
            <div class="form__submit"><button type="button" class="form__submit-button">{{form.submit_text}}</button>
            </div>
    </fieldset>
    {%-endif -%}
    {%- endfor -%}
    <div class="form__fieldset-count">
        {%- for i in (1..{{fieldset_count}}) -%}
        {%- if i == 1-%}
        <span class="active" data-index={{-i-}}>
            {%-else-%}
            <span data-index={{-i-}}>
                {%- endif -%}
                {{-i-}}</span data-index={{-i-}}>
            {%- endfor -%}
    </div>
</form>
<div class="modal" id="modal">
    <h2 class="modal__title">We are matching you with a partner</h2><img src="/images/spinner.png"
        class="modal__spinner">
</div>
<div class="modal-shroud"></div>

{%- assign buyer_data = site.data.buyers.items | where: "section", include.section -%}
<div class="buyer-panel" style="display:none;">
    {%assign count = buyer_data.size |plus:0%}
    <h3 class="buyer-panel__main-title">We have successfully found you {{count | pluralize: 'partner', 'partners'}}!
    </h3>
    <div class="buyer-panel__inner">
        <div class="buyer-panel__wrapper">
            {% for buyer in buyer_data %}
            <h4 class="buyer-panel__title">{{buyer.title}}</h4>
            {%-assign image_type = buyer.image | slice: -3, 3-%}
            {%-include picture.html type=image_type url=buyer.image  alt=buyer.title class="buyer-panel__image"-%}
            {{-buyer.description | markdownify-}}
            <button type="button" class="button" id="request_callback" data-ajax-buyer="{{buyer.title}}">Request a
                callback</button>
            {% endfor %}

        </div>
    </div>
</div>
<form class="form form--personal-info" style="display:none;">
    <h3>Personal information</h3>
    <p>We need some details about you</p>
    <div class="form__field">
        {%- include field_string.html name="First name" slug="firstname" required=true placeholder="John" fieldset="first" -%}
    </div>
    <div class="form__field">
        {%- include field_string.html name="Surname" slug="surname" required=true placeholder="Smith" fieldset="first" -%}
    </div>
    <div class="form__field">
        {%- include field_string.html name="Telephone" slug="telephone" type="telephone" required=true placeholder="07000000000" fieldset="first" -%}
    </div>
    <div class="form__field">
        {%- include field_string.html name="Email address" slug="email" type="email" required=true placeholder="john.smith@email.com" fieldset="first" -%}
    </div>
    <div class="form__field">
        {%- include field_postcode_lookup.html name="Enter your postcode" slug="postcode" required=true placeholder="AA1 1AA" fieldset="first" helptext="Enter your postcode, then click ‘Find Address’. A selection of addresses will appear. Choose your address from this list."-%}
    </div>
    <div class="form__submit"><button type="button" class="form__submit-button">Submit application</button></div>
    <p class="form__post-text">{{-form.data_capture_post_text -}}</p>
</form>
{%- endif -%}