{% assign form_data = site.data.forms.items | where: "category", include.reference %}
{% if form_data %}
{% assign form = form_data[0] %}
<form class="form">
    {{form.pre_text | markdownify}}
    {% for field in form.form_fields %}
    {% if forloop.first == true %}
    <fieldset class="form__fieldset">
        {% elsif field.type == 'fieldset' %}
    </fieldset>
    <fieldset class="form__fieldset">
        {% endif %}
        <div class="form__field">
            {% capture field_include %}field_{{field.type}}.html{% endcapture %}
            {% assign field_slug = field.name | slugify 'latin' %}
            {% include {{field_include |trim}} %}
        </div>
        {% endfor %}
</form>
{% endif %}