{% assign sections = site.data.sections.items %}
<div class="header">
        <div class="container">
                <div class="header__wrapper">
                        <a href="/">
                                {%- include picture.html url="/images/logo.png" alt=site.title type="png"-%}
                        </a>
                        <nav class="header__nav">
                                {% for i in sections %}
                                {% if i.disabled != true %}
                                <a href="{{i.link}}" class="header__nav-link">{{i.title}}</a>
                                {%endif%}
                                {% endfor %}
                        </nav>
                </div>
        </div>
</div>