<div class="header-image header-image--{{-include.layout-}}">
    <div class="header-image__containment">
        <div class="container">
            <div class="header-image__wrapper">
                {%- if include.layout == "cta" -%}
                <h1 class="header-image__title">{{-include.page-}}</h1>
                <div class="header-image__content">
                    <div class="header-image__left">
                        {{-include.content | markdownify-}}
                    </div>
                    <div class="header-image__right">
                        {%-assign image_type = include.section.header_image | slice: -3, 3-%}
                        {%- include picture.html alt=include.section.title url=include.section.header_image type=image_type-%}
                    </div>
                    <div class="header-image__footer">
                        <a href="{{-include.url-}}/form" class="button">Free to use checking tool</a>
                    </div>
                </div>

                {%- elsif include.layout == 'form' -%}
                <div class="header-image__bg"></div>
                <div class="header-image__left">
                    {{-include.content |markdownify-}}
                </div>
                <div class="header-image__right">
                    {%-include form.html reference=include.section.title -%}
                </div>
                {%-else -%}
                <div class="header-image__left">
                    <div class="header-image__content">
                        {{-include.content | markdownify-}}
                    </div>
                </div>
                <div class="header-image__right">
                    {%if include.image%}
                    {%-assign image_type = include.image | slice: -3, 3-%}
                    {%include picture.html url=include.image alt=include.title type=image_type%}
                    {%endif%}

                </div>
                <!-- <div class="header-image__footer">
                    <a href="#about_strip" title="Check out our online tools" class="down-icon__wrapper"><span
                            class="icon-chevron-down down-icon"></span></a>
                </div> -->
                {%-endif-%}
            </div>
        </div>
    </div>
</div>