<div class="header-image header-image--{{-include.layout-}}">
    <div class="header-image__containment">
        <div class="container">
            <div class="header-image__wrapper">
                {%- if include.layout == "cta" -%} 
                <h1 class="header-image__title">{{-include.page-}}</h1>
                <div class="header-image__panel">
                    <div class="header-image__panel-left">
                        {{-include.content | markdownify-}}
                    </div>
                    <div class="header-image__panel-right">
                        {%- capture image_src-%}/images/upload/banner-{{-include.page | slugify 'latin'-}}.jpg{%- endcapture-%}
                        {%- include picture.html alt=include.page url=image_src type="jpg"-%}
                        <a href="{{-include.url-}}/form" class="button">Checking tool</a>
                    </div>
                </div>
                <a href="#about_strip" title="Check out our online tools" class="down-icon__wrapper"><span
                        class="icon-chevron-down down-icon"></span></a>

                {%- elsif include.layout == 'form' -%}
                {%- capture image_src-%}/images/upload/banner-{{-include.page | slugify 'latin'-}}.jpg{%- endcapture-%}
                <div class="header-image__bg" style="background-image: url('{{-image_src-}}')"></div>
                <div class="header-image__left">
                    {{-include.content |markdownify-}}
                </div>
                <div class="header-image__right">
                    {%-include form.html reference=include.page -%}
                </div>
                {%-else -%}
                <div class="header-image__left">

                </div>
                <div class="header-image__right"> 
                    <div class="header-image__content">
                        {{-include.content | markdownify-}}
                    </div>
                </div>
                {%-endif-%}
            </div>
        </div>
    </div>
</div>