<div class="image-strip image-strip--image-{{include.image_position}}">
    <div class="container">
        <div class="image-strip__wrapper">
            <div class="image-strip__image">
                {%capture image_url%}/images/{{include.image}}{%endcapture%}
                {%assign image_type = include.image | slice: -3, 3%}
                {%include picture.html url=image_url alt=site.name type=image_type%}
            </div>
            <div class="image-strip__content">
                {{include.text | markdownify}}
            </div>
        </div>
    </div>
</div>