<div class="process-strip">
    <div class="container">
        <div class="process-strip__wrapper">
            <h3 class="process-strip__title">How does it work?<br>Our process is easy&hellip;</h3>
            <div class="process-strip__list">
                <div class="process-strip__item scrollwatch">
                    {% include picture.html url="/images/upload/question.png" class="process-strip__image" %}
                    <h4 class="process-strip__count">1</h4>
                    <p class="process-strip__text">Answer a few simple questions</p>
                </div>
                <div class="process-strip__item scrollwatch">
                    {% include picture.html url="/images/upload/finger.png" class="process-strip__image" %}
                    <h4 class="process-strip__count">2</h4>
                    <p class="process-strip__text">We select the best suppliers for you</p>
                </div>
                <div class="process-strip__item scrollwatch">
                    {% include picture.html url="/images/upload/handshake.png" class="process-strip__image" %}
                    <h4 class="process-strip__count">3</h4>
                    <p class="process-strip__text">Receive a free, no obligation quote</p>
                </div>
            </div>
            <a href="/tools" class="button">Discover more</a>
        </div>
    </div>
</div>