{%if include.category %}

{%- assign reviews = site.data.reviews.items | where: "category", include.category -%}
{%else%}
{%- assign reviews = site.data.reviews.items -%}
{%endif%}
{%- if reviews.size > 0 -%}
{%- if include.link_text -%}
{%- assign link_text = include.link_text -%}
{%- else -%}
{%- assign link_text = "Select your required tool" -%}
{%-endif -%}
<div class="reviews-strip" id="reviews_strip">
    <div class="container">
        <h3 class="reviews-strip__title">Don't just take our word for it&hellip;</h3>
        <div class="reviews-strip__list">
            {%- for review in reviews -%}
            <div class="reviews-strip__item">
                <div class="reviews-strip__image-wrapper">
                    {%if review.image %}
                    {%-assign image_type = review.image | slice: -3, 3-%}
                    {%-include picture.html type=image_type url=review.image  alt=review.name class="reviews-strip__image"-%}
                    {%endif%}
                </div>
                <div class="reviews-strip__content">
                    <div class="reviews-strip__text">{{-review.text | markdownify -}}</div>
                    <h4 class="reviews-strip__name">{{-review.name -}}</h4>
                </div>
            </div>
            {%- endfor -%}
        </div>
        <a href="#select_strip" class="button" title="{{-link_text-}}">{{-link_text-}}</a>
    </div>
</div>
<script>
    var slick = document.createElement('link');
    slick.rel = 'stylesheet';
    slick.href = '//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css';
    slick.type = 'text/css';
    var defer_slick = document.getElementsByTagName('link')[0];
    defer_slick.parentNode.insertBefore(slick, defer_slick);
    window.postJqueryScripts.push("/js/src/slick.min.js");
    window.postJqueryScripts.push('/js/src/reviews.js')
</script>
{%- endif -%}