<div class="select-strip">
    <div class="container">
        <h2 class="select-strip__title {{include.title | slugify: "latin"}}">{{include.title}}</h2>
        <div class="select-strip__list">
            {% for object in include.objects %}
              <a class="select-strip__item block" href="{{object.link}}">
                <div class="block__image-wrapper"><img class="block__image" src="{{object.image}}" /></div>
                <h4 class="block__title">{{object.title}}</h4>
             </a>
            {%endfor%}
        </div>
    </div>
</div>