<div class="stats-strip">
    <div class="container">
        <div class="stats-strip__wrapper">
            <div class="stats-strip__col">
                {% include picture.html url="/images/upload/people.png" alt="25,000 members" class="stats-strip__image" %}
                <h3 class="stats-strip__title"><strong>25,000</strong>Members</h3>
            </div>
            <div class="stats-strip__col">
                {% include picture.html url="/images/upload/jigsaw.png" alt="75,000 matches" class="stats-strip__image" %}
                <h3 class="stats-strip__title"><strong>75,000</strong>Matches</h3>
            </div>
            <div class="stats-strip__col">
                {% include picture.html url="/images/upload/handshake-flat.png" alt="15 partners" class="stats-strip__image" %}
                <h3 class="stats-strip__title"><strong>15</strong>Partners</h3>
            </div>
        </div>
    </div>
</div>