{% if include.full == true %}
<div class="why-use why-use__full" id="why_use">
    <div class="container">
        <div class="why-use__wrapper">
            <h2 class="why-use__title">Why use {{site.title}}</h2>
            <p class="why-use__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus vitae
                libero ac imperdiet.
                Pellentesque ut ex purus. Sed ac neque nec urna iaculis mollis. Nullam tincidunt eros sed nisi elementum
                imperdiet. Morbi vehicula sem at dictum finibus. In commodo, ex eu consequat volutpat, nisi velit
                ultricies
                neque, et dapibus nisi est et augue. Ut imperdiet vestibulum gravida.</p>
            <p class="why-use__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed purus enim, fermentum
                quis molestie ac,
                convallis id sapien. Etiam dignissim aliquet consectetur. Aliquam nec vestibulum ipsum. Mauris lectus
                erat,
                scelerisque vel tortor id, rhoncus fermentum dui. Etiam vestibulum mattis neque, nec rhoncus purus porta
                quis. Sed laoreet nisi leo, quis semper libero egestas sodales.</p class="why-use__text">
            <div class="why-use__item-list">
                <div class="why-use__item scrollwatch">
                    {%include picture.html type="png" url="/images/trophy.png" alt="Trophy"%}
                    <p>Sed purus enim, fermentum quis molestie ac</p>
                </div>
                <div class="why-use__item scrollwatch">
                    {%include picture.html type="png" url="/images/tickbox.png" alt="Tickbox"%}
                    <p>Sed purus enim, fermentum quis molestie ac</p>
                </div>
                <div class="why-use__item scrollwatch">
                    {%include picture.html type="png" url="/images/bank.png" alt="Bank"%}
                    <p>Sed purus enim, fermentum quis molestie ac</p>
                </div>
                <div class="why-use__item scrollwatch">
                    {%include picture.html type="png" url="/images/phone.png" alt="Phone"%}
                    <p>Sed purus enim, fermentum quis molestie ac</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
{% if include.button_text %}
{%assign button_text = include.button_text%}
{%else%}
{%assign button_text = "Select your required tool"%}
{%endif%}
<div class="why-use why-use__small" id="why_use">
    <div class="container">
        <div class="why-use__wrapper">
            <h2 class="why-use__title">Why use {{site.title}}?</h2>
            <p class="why-use__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed purus enim, fermentum
                quis molestie ac,
                convallis id sapien. Etiam dignissim aliquet consectetur. Aliquam nec vestibulum ipsum. Mauris lectus
                erat,
                scelerisque vel tortor id, rhoncus fermentum dui. Etiam vestibulum mattis neque, nec rhoncus purus porta
                quis. Sed laoreet nisi leo, quis semper libero.</p>
            <a href="#select_strip" class="button button--blue">{{button_text}}</a>
        </div>
    </div>
</div>
{% endif %}