@import "vars";
@import "mixins";

.header-image,
.featured-strip,
.process-strip,
.image-strip,
.brands-strip,
.faqs-strip,
.footer,
.reviews-strip,
.stats-strip,
.select-strip,
.form,
.modal {
  display: none;
}
body {
  margin: 0;
}
.header {
  width: 100%;
  background: $colour_primary;
  height: 50px;
  &__wrapper {
    display: none;
  }
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1460px) {
  .container {
    max-width: 1400px;
  }
}
