.faqs-strip {
  padding: 50px 0;
  background: $faqs-strip-bg;
  @include in_size($xs) {
    padding: 30px 0;
  }
  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  &__title {
    font-size: 55px;
    font-weight: 500;
    color: $faqs-title-text;
    margin: 0 0 60px;
    position: relative;
    padding-bottom: 40px;
    display: inline-block;
    @include in_size($md) {
      max-width: 50%;
    }
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 5px;
      background: $faqs-title-text;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    @include in_size($xs) {
      font-size: 35px;
      margin-bottom: 20px;
      line-height: 1;
    }
  }
  &__image {
    @include in_size($mobile) {
      display: none;
    }
  }
  &__list {
    margin-bottom: 50px;
  }
  &__question {
    background: $faqs-question-bg;
    color: $faqs-question-text;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0;
    &:before {
      content: attr(data-index);
      background: $faqs-question-count-bg;
      border-radius: 50%;
      width: 34px;
      height: 34px;
      color: $faqs-question-count-text;
      display: inline-block;
      flex: 0 0 auto;
      text-align: center;
      line-height: 34px;
      margin-right: 30px;
      font-weight: 800;
    }
    @include in_size($xs) {
      flex-wrap: wrap;
      padding-bottom: 25px;
      &:before {
        margin-bottom: 20px;
      }
    }
  }
  &__answer {
    max-height: 0;
    height: auto;
    overflow: hidden;
    transition: all 0.5s ease-in-out 0s;
    background: $faqs-answer-bg;
    padding: 0 95px;
    font-weight: 300;
    color: $faqs-answer-text;
    @include in_size($xs) {
      padding: 0 15px;
    }
    *:first-child {
      padding-top: 15px;
    }
    *:last-child {
      padding-bottom: 15px;
    }
    p {
      margin: 0;
    }
    &.active {
      max-height: 200px;
      @include in_size($xs) {
        max-height: 400px;
      }
    }
  }
}
