.featured-strip {
  position: relative;
  margin-top: -88px;
  background: $featured-strip-main-bg;
  overflow: hidden;
  @include in_size($xs) {
    margin-top: 0;
  }
  &__wrapper {
    display: flex;
  }
  &__title {
    background: $featured-strip-title-bg;
    color: $featured-strip-title-text;
    padding-right: 50px;
    position: relative;
    flex: 1 0 auto;
    &:before {
      content: "";
      position: absolute;
      right: 100%;
      width: 500px;
      height: 100%;
      background: $featured-strip-title-bg;
    }
  }
  &__list {
    padding: 0 50px;
    width: 100%;
    display: flex;
    align-items: center;
    @include in_size($md) {
      flex: 0 1 100%;
      overflow: hidden;
    }
    .slick-track {
      display: flex;
      align-items: center;
    }
    img {
      margin: 0 25px;
    }
  }
  @include in_size($xs) {
    &__wrapper {
      flex-wrap: wrap;
      padding-bottom: 15px;
    }
    &__title,
    &__list {
      flex: 1 0 100%;
      padding: 0;
    }
    &__title {
      background: none;
      h3 {
        margin: 10px 0;
        font-size: 18px;
        text-align: center;
      }
      &:before,
      &:after {
        display: none;
      }
    }
  }
}
