.form {
  background: $form-bg;
  padding: 50px;
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-wrap: wrap;
  border-radius: 35px;
  color: $form-text;
  @include in_size($xs) {
    padding: 20px;
  }
  &--loading {
    position: relative;
    &:before {
      content: "";
      background: rgba(#fff, 0.8);
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  h3 {
    font-size: 38px;
    margin: 0;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 10px;
    strong {
      font-weight: 800;
      text-transform: uppercase;
    }
    + p {
      font-size: 16px;
      font-weight: 300;
    }
    @include in_size($xs) {
      text-align: center;
      font-size: 28px;
      margin-bottom: 0;
      + p {
        text-align: center;
      }
    }
  }
  &__field {
    margin-bottom: 25px;
    width: 100%;
    position: relative;
    &--address {
      margin-bottom: 5px;
      padding: 0 !important;
      .field {
        &__label {
          font-size: 14px;
        }
        &__input {
          margin-top: 5px;
        }
      }
    }
  }
  &__fieldset {
    display: none;
    width: 100%;
    &.active {
      display: block;
    }
  }
  &__fieldset-count {
    order: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    span {
      background: $form-fieldset-count-bg;
      color: $form-fieldset-count-text;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      position: relative;
      margin: 0 10px;
      &:before {
        content: "";
        display: block;
        height: 5px;
        width: 20px;
        position: absolute;
        right: 100%;
        top: 50%;
        margin-top: -2.5px;
        background: $form-fieldset-count-bg;
      }
      &:first-child {
        &:before {
          display: none;
        }
      }
      &.active {
        background: $form-fieldset-count-bg-active;
        color: $form-fieldset-count-text-active;
        &:before {
          background: $form-fieldset-count-bg-active;
        }
      }
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__back {
    &-button {
      font-size: 17px;
      display: inline-flex;
      align-items: baseline;
      background: none;
      border: none;
      color: $form-text;
      font-family: $font_primary;
      cursor: pointer;
      font-weight: 500;
      i {
        font-size: 14px;
        margin-right: 5px;
      }
    }
  }
  &__proceed,
  &__submit {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 100%;
    button {
      background: $form-button-bg;
      border: none;
      color: $form-button-text;
      font-weight: 600;
      font-size: 21px;
      padding: 10px 50px;
      cursor: pointer;
      transition: all 0.2s ease-in-out 0s;
      font-family: $font_primary;
      &:hover {
        background: $form-button-bg-hover;
      }
      @include in_size($xxs) {
        padding: 10px 30px;
      }
    }
  }
  &__post-text {
    font-size: 12px;
    margin: 15px 0 0;
    text-align: center;
  }
  &--personal-info {
    padding: 50px 40px;
    @include in_size($xs) {
      padding: 20px;
      .field {
        &__label {
          font-size: 18px;
        }
        &__helptext {
          font-size: 14px;
        }
        &__input {
          margin-top: 5px;
        }
      }
    }
    .form {
      &__field {
        flex: 1 1 50%;
        padding: 0 10px;
        @include in_size($xs) {
          flex: 1 1 100%;
          margin-bottom: 15px;
        }
      }
      &__submit,
      &__post-text {
        padding: 0 10px;
      }
      &__submit {
        flex: 1 1 100%;
        text-align: center;
        justify-content: center;
      }
    }
    h3 {
      padding: 0 10px;
      strong {
        text-transform: none;
      }
      + p {
        font-size: 16px;
        margin-top: 0;
        padding: 0 10px;
      }
    }
  }
  &--completed {
    text-align: center;
    justify-content: center;
    h3,
    h3 + p {
      padding: 0;
    }
    h3 {
      margin-bottom: 20px;
      font-weight: 600;
    }
  }
}

.field {
  &__label {
    font-weight: 500;
    font-size: 22px;
  }
  &__input {
    width: 100%;
    border: 1px solid $form-input-border;
    padding: 10px;
    font-family: $font_primary;
    font-size: 16px;
    margin-top: 15px;
    color: $form-text;
    &::-webkit-input-placeholder {
      opacity: 0.5;
    }
    &::-moz-placeholder {
      opacity: 0.5;
    }
    &:-ms-input-placeholder {
      opacity: 0.5;
    }
    &:-moz-placeholder {
      opacity: 0.5;
    }
    &-wrap {
      display: flex;
      margin-top: 15px;
      padding-bottom: 20px;
      .parsley-errors-list {
        position: absolute;
        bottom: -13px;
      }
      .field {
        &__input,
        &__lookup-button {
          flex: 1 1 50%;
        }
        &__input {
          margin-right: 5px;
          margin-top: 0;
        }
        &__lookup-button {
          margin-left: 5px;
          button {
            width: 100%;
            height: 100%;
            box-shadow: none;
            cursor: pointer;
            font-size: 18px;
            background: $form-postcode-lookup-button-bg;
            color: $form-postcode-lookup-button-text;
          }
        }
      }
      @include in_size($xs) {
        flex-wrap: wrap;
        .field {
          &__input,
          &__lookup-button {
            margin: 0;
            flex: 1 0 100%;
          }
        }
      }
    }
  }
  &__helptext {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
  }
  &__radios {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    .parsley-errors-list {
      order: -1;
      padding: 0 10px;
      margin-top: 5px;
    }
  }
  &__radio {
    &-item {
      flex: 1 1 50%;
      padding: 10px;
      @include in_size($xxs) {
        padding: 5px 0;
      }
      @include in_size($xxxs) {
        flex: 1 1 100%;
      }
    }
    &-label {
      background: $form-radio-label-bg;
      color: $form-radio-label-text;
      padding: 10px 15px;
      font-size: 16px;
      font-weight: 400;
      display: flex;
      align-items: center;
      height: 100%;
      transition: all 0.2s ease-in-out 0s;
      &:before {
        transition: all 0.2s ease-in-out 0s;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: $form-radio-tick-bg;
        margin-right: 10px;
        color: $form-radio-tick-bg;
        @include check-icon();
        flex: 0 0 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
      @include in_size($xs) {
        text-align: left;
        padding: 10px 5px;
        border: 2px solid $form-bg;
        &:before {
          display: none;
        }
      }
    }
    &-input {
      position: absolute;
      visibility: hidden;
      &:checked {
        + .field__radio-label {
          background: $form-radio-label-bg-active;
          color: $form-radio-label-text-active;
          &:before {
            color: $form-radio-label-bg-active;
          }
        }
      }
    }
  }
  &__error {
    background: $colour_error;
    color: #fff;
    font-size: 16px;
    padding: 5px;
  }
}

.parsley-errors-list {
  width: 100%;
  li {
    background: $colour_error;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    margin: 0;
    &:before {
      display: none;
    }
  }
}

.typeahead.dropdown-menu {
  list-style: none;
  padding: 0 10px;
  border: 1px solid $form-element-border;
  border-top: none;
  background: #fff;
  position: absolute;
  z-index: 2;
  width: 100%;
  margin-top: 15px;
  li {
    padding: 10px 0;
    border-top: 1px solid $form-element-border;
    font-size: 16px;
    text-align: left;
    a {
      color: $form-text;
      font-weight: 300;
    }
    &:first-child {
      border-top: none;
    }
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

body.modal-active {
  overflow: hidden;
}
.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  padding: 100px;
  background: $modal-bg;
  text-align: center;
  max-width: 85%;
  max-height: 85%;
  display: none;
  overflow-y: scroll;
  @include in_size($xs) {
    max-width: 100%;
    max-height: 100%;
    width: 95%;
    height: 95%;
  }
  img {
    float: none;
  }
  @include in_size($mobile) {
    padding: 20px;
    max-width: 100%;
    max-height: 100%;
  }
  &__title {
    color: $modal-title-text;
    font-size: 49px;
    font-weight: 400;
  }
  &__spinner {
    animation: spin 2s linear infinite;
  }
  + .modal-shroud {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
  }
  h3,
  h4 {
    color: $modal-inner-title-text;
    font-weight: 600;
  }
  h3 {
    font-size: 50px;
    margin-top: 0;
  }
  h4 {
    font-size: 30px;
  }
  p {
    color: $modal-text;
  }
  .button {
    margin: 0 15px;
  }
  &--active {
    display: block;
    + .modal-shroud {
      display: block;
    }
  }
}

.postcode-lookup-list {
  margin: 10px 0;
  border: 1px solid $form-element-border;
  max-height: 239px;
  overflow-y: scroll;
  &__item {
    display: block;
    width: 100%;
    padding: 5px 10px;
    border-top: 1px solid $form-element-border;
    font-size: 16px;
    &:first-child {
      border-top: none;
    }
  }
}

.buyer-panel {
  background: #fff;
  padding: 50px;
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-wrap: wrap;
  border-radius: 35px;
  color: $buyer-panel-text;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  img {
    float: none;
  }
  &__main-title {
    font-weight: 400;
    font-size: 36px;
    margin: 0 0 25px;
  }
  &__title {
    font-weight: 400;
    font-size: 25px;
    margin: 0 0 15px;
  }
  li {
    @include list_style;
  }
  .button {
    font-size: 21px;
  }
  @include in_size($mobile) {
    padding: 30px;
    &__main-title {
      font-size: 28px;
      line-height: 1.2;
    }
    &__title {
      font-size: 22px;
      line-height: 1.2;
    }
  }
}
