.image-strip {
  background-color: $strip-bg;
  color: $strip-text;
  border-bottom: 30px solid $strip-border;
  padding: 200px 0 160px;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 20px solid $strip-circle-bg;
    width: 575px;
    height: 575px;
    z-index: 1;
    @include in_size($mobile) {
      display: none;
    }
  }
  &:nth-child(4n + 1) {
    &:before {
      top: -300px;
      left: -100px;
    }
  }
  &:nth-of-type(4n + 2) {
    &:before {
      bottom: -300px;
      left: -100px;
    }
  }
  &:nth-of-type(4n + 3) {
    &:before {
      top: -300px;
      right: -100px;
    }
  }
  &:nth-of-type(4n + 4) {
    &:before {
      display: none;
    }
  }
  &:first-of-type {
    background-color: $strip-first-bg;
    color: $strip-first-text;
    border-bottom-color: $strip-first-border;
    &:before {
      border-color: $strip-first-circle-bg;
    }
    h2,
    h3 {
      color: $strip-first-text;
      &:after {
        background: $strip-first-text-accent;
      }
    }
    a {
      @include button_custom($strip-first-button-bg);
      color: $strip-first-button-text;
    }
  }
  &:last-child {
    border: none;
  }
  &:nth-of-type(2n + 3),
  &:only-of-type {
    background-color: $strip-alt-bg;
    color: $strip-alt-text;
    border-bottom-color: $strip-alt-border;
    &:before {
      border-color: $strip-alt-circle-bg;
    }
    h2,
    h3 {
      color: $strip-alt-text;
      &:after {
        background: $strip-alt-text-accent;
      }
    }
    a {
      @include button_custom($strip-alt-button-bg);
      color: $strip-alt-button-text;
    }
  }

  @include in_size($xs) {
    padding: 30px 0 25px;
  }
  @include in_size($sm-only) {
    padding: 50px 0 30px;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.2s;
    position: relative;
    z-index: 2;
    &.scrolled {
      opacity: 1;
    }
  }
  &__content {
    flex: 0 1 50%;
    padding: 50px 0;

    @include in_size($xs) {
      flex: 1 0 100%;
      max-width: 100%;
      padding: 0;
    }
    @include in_size($sm-only) {
      padding: 0;
      flex: 1 1 50%;
    }
    h2,
    h3 {
      font-size: 58px;
      margin-top: 0;
      line-height: 1.2;
      padding-bottom: 60px;
      position: relative;
      font-weight: 500;
      color: $strip-text;
      @include in_size($xs) {
        padding-bottom: 30px;
      }
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        background: $strip-text-accent;
        position: absolute;
        left: 0;
        bottom: 0;
      }
      @include in_size($xs) {
        font-size: 35px;
      }
    }
    a {
      @include button_custom($strip-button-bg);
      margin-top: 25px;
      color: $strip-button-text;
    }
  }
  &__image {
    text-align: center;
    flex: 0 1 50%;
    @include in_size($xs) {
      display: none;
    }
    @include in_size($sm-only) {
      flex: 0 1 30%;
    }
  }
  &--image {
    &-right {
      .image-strip {
        &__image {
          order: 2;
          padding-left: 90px;
          @include in_size($sm-only) {
            padding-left: 40px;
          }
        }
      }
    }
    &-left {
      .image-strip {
        &__image {
          order: 0;

          padding-right: 90px;
        }
      }
    }
  }
}
