.process-strip {
  background: $process-strip-bg;
  color: $process-strip-text;
  text-align: center;
  padding: 120px 0;
  border-bottom: 30px solid $process-strip-border;
  @include in_size($mobile) {
    padding: 50px 0;
  }
  &__wrapper {
    padding: 0 150px;
    @include in_size($mobile) {
      padding: 0;
    }
  }
  &__title {
    font-size: 48px;
    margin: 0 0 100px;
    line-height: 1.2;
    padding-bottom: 60px;
    position: relative;
    font-weight: 600;
    display: inline-block;
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 5px;
      background: $strip-text-accent;
      position: absolute;
      left: 0;
      bottom: 0;
    }
    @include in_size($xs) {
      font-size: 32px;
      padding-bottom: 20px;
      margin-bottom: 10px;
    }
  }
  &__list {
    display: flex;
    margin-bottom: 50px;
    @include in_size($xs) {
      flex-wrap: wrap;
    }
  }
  &__item {
    flex: 1 1 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.2s;
    @include in_size($lg) {
      padding: 0 75px;
    }
    @include in_size($md-only) {
      padding: 0 30px;
    }
    @include in_size($sm-only) {
      padding: 0 10px;
    }
    @include in_size($xs) {
      padding: 20px 15px;
    }
    &.scrolled {
      opacity: 1;
    }
  }
  &__count {
    font-weight: 800;
    font-size: 32px;
    margin: 20px 0 10px;
    @include in_size($xs) {
      margin: 5px 0;
    }
  }
  &__text {
    margin: 0;
  }
  &__image {
    background: $process-strip-image-bg;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    padding: 20px;
  }
  .button {
    background: $process-strip-button-bg;
    color: $process-strip-button-text;
  }
}
