.stats-strip {
  background: $colour_action;
  padding: $strip_padding;
  @include in_size($xs) {
    padding: $strip_padding_mobile;
  }
  &__wrapper {
    display: flex;
    @include in_size($xs) {
      flex-wrap: wrap;
    }
  }
  &__col {
    flex: 0 1 100%;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    @include in_size($xs) {
      padding: 15px 0;
      &:first-child {
        padding-top: 0;
      }
    }
  }
  &__image {
    border-right: 5px solid #fff;
    padding-right: 25px;
    margin-right: 25px;
    @include in_size($xs) {
      flex: 0 0 100px;
      border-right: none;
    }
  }
  &__title {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    margin: 0;
    line-height: 1.2;
    @include in_size($sm-only) {
      font-size: 30px;
    }
    @include in_size($xs) {
      font-size: 25px;
    }
    strong {
      display: block;
    }
  }
  + .image-strip {
    background-color: $strip-bg;
    color: $strip-text;
    border-bottom: 30px solid $strip-border;
    &:before {
      border-color: $strip-circle-bg;
    }
    h2,
    h3 {
      color: $strip-text;
      &:after {
        background: $strip-text-accent;
      }
    }
    + .image-strip {
      background-color: $strip-alt-bg;
      color: $strip-alt-text;
      border-bottom-color: $strip-alt-border;
      &:before {
        border-color: $strip-alt-circle-bg;
      }
      h2,
      h3 {
        color: $strip-alt-text;
        &:after {
          background: $strip-alt-text-accent;
        }
      }
      a {
        @include button_custom($strip-alt-button-bg);
        color: $strip-alt-button-text;
      }
    }
  }
}
