.about-strip {
  padding: 75px 0;
  @include in_size($xs) {
    padding: 30px 0;
  }
  h3,
  h2 {
    line-height: 1;
    font-size: 70px;
    color: $colour_secondary;
    margin-top: 0;
    position: relative;
    padding-bottom: 50px;
    @include in_size($xs) {
      font-size: 40px;
    }
    &:after {
      content: "";
      display: block;
      width: 75%;
      height: 5px;
      background: $colour_secondary;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__wrapper {
    text-align: center;
    @include in_size($lg) {
      width: 50%;
      margin: 0 auto;
    }
  }
  .down-icon__wrapper {
    margin-top: 25px;
  }
}
