@import "vars.scss";
ul,
ol,
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
html {
  font-family: $font_primary;
  font-weight: 300;
  font-size: 22px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.header {
  background: $colour_primary;
  padding: 25px 50px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
.down-icon {
  color: $colour_secondary;
  border: 6px solid $colour_secondary;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: all 0.2s ease-in-out 0s;
  &__wrapper {
    display: inline-block;
  }
  &:hover {
    border-color: $colour_action;
    color: $colour_action;
  }
}
.roundel {
  width: 218px;
  height: 218px;
  border-radius: 50%;
  border: 8px solid $colour_secondary;
  background: $colour_tertiary;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: translateY(10px);
  transition: all 0.5s ease-in-out 0s;
  opacity: 0;
  &.scrolled {
    transform: translateY(0);
    opacity: 1;
  }
}

.footer {
  background: $colour_grey;
  border-top: 34px solid $colour_primary;
  padding: 65px 0 40px;
  &__bottom {
    border-top: 1px solid $colour_dark_grey;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 16px;
    p {
      margin: 0;
    }
    .footer {
      &__col {
        padding: 0;
        flex: 1 1 auto;
      }
    }
  }
  &__logo {
    filter: grayscale(100%);
    &-text {
      font-size: 16px;
    }
  }
  &__wrapper {
    display: flex;
  }
  &__col {
    flex: 0 1 25%;
    padding: 0 25px;
    &:first-child {
      padding-left: 0;
    }
  }
  &__nav-link {
    display: block;
    font-size: 16px;
    color: $colour_black;
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out 0s;
    &:hover {
      color: $colour_primary;
    }
    &--header {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 600;
    }
  }
  &__small-nav {
    display: flex;
    &-link {
      color: $colour_black;
      border-left: 1px solid $colour_dark_grey;
      padding: 0 15px;
      transition: all 0.2s ease-in-out 0s;
      &:hover {
        color: $colour_primary;
      }
      &:first-child {
        border-left: none;
      }
    }
  }
  &__social {
    display: inline-block;
    vertical-align: middle;
  }
  .fab {
    color: $colour_dark_grey;
    font-size: 26px;
    transition: all 0.2s ease-in-out 0s;
    &:hover {
      color: $colour_primary;
    }
    &.bg {
      background: $colour_dark_grey;
      border-radius: 50%;
      padding: 5px;
      color: $colour_grey;
      font-size: 16px;
      &:hover {
        background: $colour_primary;
      }
    }
  }
}

.button {
  @include button();
  &--alt {
    @include button(true);
  }
  &--grey {
    background: $colour_grey;
    &:hover {
      background: $colour_primary;
    }
  }
  &--blue {
    background: $colour_secondary;
    color: #fff;
    &:hover {
      background: $colour_primary;
    }
  }
}
