.form {
  background: #fff;
  padding: 50px;
  box-shadow: -14px 15px 8px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-wrap: wrap;
  @include in_size($xs) {
    padding: 20px;
  }
  h3 {
    color: $colour_secondary;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    strong {
      text-transform: uppercase;
      font-weight: 700;
    }
    + p {
      font-size: 20px;
    }
    @include in_size($xs) {
      h3 {
        text-align: center;
        + p {
          text-align: center;
        }
      }
    }
  }
  &__field {
    margin-bottom: 25px;
    width: 100%;
    position: relative;
  }
  &__fieldset {
    display: none;
    width: 100%;
    &.active {
      display: block;
    }
  }
  &__fieldset-count {
    order: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    span {
      background: $colour_grey;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      position: relative;
      margin: 0 10px;
      &:before {
        content: "";
        display: block;
        height: 5px;
        width: 20px;
        position: absolute;
        right: 100%;
        top: 50%;
        margin-top: -2.5px;
        background: $colour_grey;
      }
      &:first-child {
        &:before {
          display: none;
        }
      }
      &.active {
        background: $colour_action;
        color: #fff;
        &:before {
          background: $colour_action;
        }
      }
    }
  }
  &__proceed,
  &__submit {
    display: flex;
    justify-content: flex-end;
    button {
      background: $colour_action;
      border: none;
      color: #fff;
      font-weight: 600;
      font-size: 21px;
      padding: 10px 50px;
      cursor: pointer;
      transition: all 0.2s ease-in-out 0s;
      &:hover {
        background: $colour_secondary;
      }
    }
  }
}

.field {
  &__label {
    color: $colour_secondary;
    font-weight: 400;
    font-size: 22px;
  }
  &__input {
    width: 100%;
    border: 1px solid $colour_border_grey;
    padding: 10px;
    font-family: $font_primary;
    font-size: 16px;
    margin-top: 15px;
  }
  &__helptext {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
  }
  &__radios {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    .parsley-errors-list {
      order: -1;
    }
  }
  &__radio {
    &-item {
      flex: 1 1 50%;
      padding: 10px;
    }
    &-label {
      background: darken($colour_grey, 5%);
      padding: 10px 15px;
      font-size: 16px;
      font-weight: 400;
      display: flex;
      align-items: center;
      height: 100%;
      transition: all 0.2s ease-in-out 0s;
      &:before {
        transition: all 0.2s ease-in-out 0s;
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #fff;
        margin-right: 10px;
        color: #fff;
        @include check-icon();
        flex: 0 0 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
    &-input {
      position: absolute;
      visibility: hidden;
      &:checked {
        + .field__radio-label {
          background: $colour_action;
          color: #fff;
          font-weight: 700;
          &:before {
            color: $colour_action;
          }
        }
      }
    }
  }
  &__error {
    background: $colour_error;
    color: #fff;
    font-size: 16px;
    padding: 5px;
  }
}

.parsley-errors-list {
  width: 100%;
  .parsley-required {
    background: $colour_error;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    margin: 0;
    &:before {
      display: none;
    }
  }
}

.typeahead.dropdown-menu {
  list-style: none;
  padding: 0 10px;
  border: 1px solid $colour_border_grey;
  border-top: none;
  background: #fff;
  position: absolute;
  z-index: 2;
  width: 100%;
  li {
    padding: 10px 0;
    border-top: 1px solid $colour_border_grey;
    font-size: 16px;
    a {
      color: $colour_dark_grey;
    }
    &:first-child {
      border-top: none;
    }
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  padding: 100px;
  background: #fff;
  text-align: center;
  max-width: 85%;
  max-height: 85%;
  display: none;
  &__title {
    color: $colour_dark_grey;
    font-size: 49px;
    font-weight: 600;
  }
  &__spinner {
    animation: spin 2s linear infinite;
  }
  + .modal-shroud {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
  }
  h3,
  h4 {
    color: $colour_secondary;
    font-weight: 600;
  }
  h3 {
    font-size: 50px;
    margin-top: 0;
  }
  h4 {
    font-size: 30px;
  }
  .button {
    margin: 0 15px;
  }
  &--active {
    display: block;
    + .modal-shroud {
      display: block;
    }
  }
}
