.header-image {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  color: #fff;
  background: $colour_primary;
  &__containment {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px 0 88px;
  }
  &--default {
    background: $colour_primary;
  }
  &--inner {
  }
  &--cta {
    .header-image {
      &__title {
        margin-top: 0;
        margin-bottom: 70px;
        font-size: 65px;
      }
      &__footer {
        margin: 70px 0 0;
      }
      &__content {
        h3 {
          font-weight: 500;
          margin-bottom: 10px;
          font-size: 40px;
        }
      }
    }
  }
  &--form {
    background: $colour_grey;
    .header-image {
      &__left {
        color: #fff;
        position: relative;
        z-index: 2;
        h1 {
          font-size: 65px;
          font-weight: 600;
          line-height: 1.2;
          &:after {
            content: "";
            width: 100%;
            height: 5px;
            background: #fff;
            margin-top: 40px;
            display: block;
          }
        }
        li {
          @include list_style;
        }
      }
      &__right {
        padding: 50px 0 50px 85px;
      }
    }
  }
  &--home,
  &--default {
    @include in_size($mobile) {
      .header-image {
        &__left {
          padding: 0;
          text-align: center;
        }
        &__right {
          display: none;
        }
      }
    }
  }
  &__title {
    margin: 50px auto 25px;
    font-size: 58px;
    line-height: 1;
    position: relative;
    padding-bottom: 50px;
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 5px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: currentColor;
    }
  }
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    @include in_size($xs) {
      width: 100%;
    }
  }
  .container {
    height: 100%;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .header-image {
      &__right {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    h3 {
      font-weight: 600;
      font-size: 50px;
      margin: 0 0 30px;
    }
    li {
      @include list_style;
    }

    @include in_size($xs) {
      padding: 25px;
      flex-wrap: wrap;
      h3 {
        font-size: 35px;
      }
    }
  }
  &__content {
    h1 {
      color: #fff;
      font-size: 65px;
      position: relative;
      display: inline-block;
      padding-bottom: 60px;
      margin-top: 0;
      font-weight: 600;
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        background: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
      }
      @include in_size($xs) {
        font-size: 50px;
        line-height: 1;
        &:after {
          bottom: -15px;
        }
      }
    }
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
  &__left {
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding-right: 85px;
    flex: 1 1 50%;
  }
  &__right {
    position: relative;
    flex: 1 1 50%;
  }
  &__image-wrapper {
    margin-bottom: 50px;
    @include in_size($xs) {
      margin-bottom: 10px;
    }
  }
  &__footer {
    flex: 1 1 100%;
    align-self: flex-end;
    text-align: center;
    margin-bottom: 40px;
    p {
      margin: 0;
    }
    span {
      margin-top: 20px;
    }
  }
  .roundel {
    position: absolute;
    &--1 {
      top: 10%;
      left: 0;
    }
    &--2 {
      top: 24%;
      right: 0;
      transition-delay: 0.25s;
    }
    &--3 {
      top: 62%;
      left: 100px;
      transition-delay: 0.4s;
    }
  }
  @include in_size($sm) {
    &--default,
    &--home {
      background-position: right bottom;
    }
  }
  @include in_size($xs) {
    min-height: 0;
    &--default,
    &--home {
      .header-image {
        &__containment {
          padding: 125px 0 0;
        }
      }
    }
    &--home {
      .header-image {
        &__containment {
          position: static;
        }
      }
    }
    &--form {
      .header-image {
        &__left,
        &__right {
          padding: 0;
          flex: 1 0 100%;
        }
        &__left {
          h1 {
            font-size: 30px;
            text-align: center;
            &:after {
              width: 80%;
              margin: 20px auto 0;
            }
          }
          ul {
            display: none;
          }
        }
      }
    }
  }
}
