.image-strip {
  background-color: #fff;
  padding: 150px 0 120px;
  position: relative;
  overflow: hidden;
  &:nth-of-type(2n + 1) {
    background-color: $colour_primary;
    color: #fff;
    h2,
    h3 {
      color: #fff;
      &:after {
        background: #fff;
      }
    }
    a {
      @include button_custom(#e4e4e4, #fff);
    }
  }
  @include in_size($xs) {
    padding: 30px 0 25px;
  }
  @include in_size($sm-only) {
    padding: 50px 0 30px;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__content {
    flex: 0 1 50%;
    padding: 50px 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.2s;
    &.scrolled {
      opacity: 1;
    }
    @include in_size($xs) {
      flex: 1 0 100%;
    }
    @include in_size($sm) {
      padding: 0;
    }
    h2,
    h3 {
      font-size: 58px;
      margin-top: 0;
      line-height: 1.2;
      padding-bottom: 60px;
      position: relative;
      font-weight: 500;
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        background: $colour_black;
        position: absolute;
        left: 0;
        bottom: 0;
      }
      @include in_size($xs) {
        font-size: 42px;
      }
    }
    a {
      @include button();
      margin-top: 25px;
    }
  }
  &__image {
    @include in_size($xs) {
      display: none;
    }
  }
  &--image {
    &-right {
      .image-strip {
        &__image {
          order: 2;
          flex: 0 1 50%;
        }
      }
    }
    &-left {
      .image-strip {
        &__image {
          position: absolute;
          left: 0;
          top: 50px;
          max-width: 40%;
        }
      }
    }
  }
}
