body.layout--bottom {
  .image-strip {
    &:only-of-type {
      background-color: $strip-bottom-bg;
      color: $strip-bottom-text;
      border-bottom-color: $strip-bottom-border;
      &:before {
        border-color: $strip-bottom-circle-bg;
      }
      h2,
      h3 {
        color: $strip-bottom-text;
        &:after {
          background: $strip-bottom-text-accent;
        }
      }
      a {
        @include button_custom($strip-bottom-button-bg);
      }
    }
  }
  .faqs-strip {
    background: $faqs-strip-bottom-bg;
  }
}
