.reviews-strip {
  padding: 40px 0 80px;
  text-align: center;
  background: $reviews-strip-bg;
  &__title {
    color: $reviews-strip-title-text;
    text-align: center;
    font-size: 58px;
    display: inline-block;
    margin: 0 0 25px;
    font-weight: 500;
    line-height: 1.2;
    @include in_size($lg) {
      width: 50%;
    }
    @include in_size($xs) {
      font-size: 40px;
      line-height: 1;
    }
  }
  &__list {
    padding: 0 200px;
    margin-bottom: 50px;
    @include in_size($sm-only) {
      padding: 0 130px;
    }
    @include in_size($xs) {
      padding: 0;
      margin-bottom: 75px;
    }
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: $reviews-strip-nav-text;
    background: $reviews-strip-nav-bg;
    padding: 7px;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
    &:hover {
      background: $reviews-strip-nav-bg-hover;
      color: $reviews-strip-nav-text-hover;
    }
    &:before {
      display: inline-block;
      width: 25px;
      height: 25px;
    }
    @include in_size($xs) {
      top: auto;
      transform: none;
      bottom: -45px;
      font-size: 18px;
      padding: 5px;
      border-width: 3px;
      &.slick-next {
        left: 51%;
        right: auto;
      }
      &.slick-prev {
        right: 51%;
        left: auto;
      }
      &:before {
        width: 18px;
        height: 18px;
      }
    }
  }
  .slick-prev {
    left: 50px;
  }
  .slick-next {
    right: 50px;
  }
  &__item {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
  }
  &__content {
    flex: 1;
    padding-left: 50px;
    color: $reviews-strip-text;
    @include in_size($mobile) {
      flex: 1 1 100%;
      padding-left: 0;
    }
  }
  &__image {
    &-wrapper {
      width: 215px;
      height: 215px;
      background: $reviews-strip-image-bg;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      @include in_size($mobile) {
        margin: 0 auto;
      }
      @include in_size($xs) {
        width: 125px;
        height: 125px;
      }
    }
  }
}
