.select-strip {
  padding-bottom: 75px;
  text-align: center;
  padding-top: 50px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0.2s;
  background: $select-strip-bg;
  border-bottom: 30px solid $select-strip-border;
  &.scrolled {
    opacity: 1;
  }
  &__title {
    display: inline-block;
    color: $select-strip-title-text;
    margin: 0 0 15px;
    font-weight: 500;
    font-size: 45px;
  }
  &__text {
    margin: 0 auto 40px;
    position: relative;
    padding-bottom: 40px;
    max-width: 40%;
    color: $select-strip-text;
    @include in_size($mobile) {
      max-width: none;
    }
    &:after {
      content: "";
      display: block;
      height: 5px;
      width: 345px;
      background: $select-strip-title-text-accent;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      @include in_size($xs) {
        width: 220px;
      }
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 120px;
    margin: 0 -15px;
    &--long {
      justify-content: space-between;
      .select-strip__item {
        flex: 0 0 (100% / 3);
        @include in_size($sm-only) {
          flex: 0 1 50%;
        }
        @include in_size($xs) {
          flex: 1 1 100%;
        }
        &-inner {
          height: 210px;
          padding: 0;
        }
        &-title {
          font-size: 25px;
        }
      }
    }
  }
  &__item {
    flex: 0 1 50%;
    padding: 15px;
    @include in_size($sm-only) {
      flex: 1 1 50%;
    }
    @include in_size($xs) {
      flex: 1 1 100%;
    }
    &-inner {
      box-shadow: -3px 4px 6px 0 rgba(0, 0, 0, 0.16);
      position: relative;
      height: 100%;
      border-radius: 45px;
      height: 280px;
      position: relative;
      display: inline-block;
      transition: all 0.25s ease-in-out;
      @include in_size($xs) {
        height: 210px;
      }
      &.light {
        .select-strip__item-title {
          color: $select-strip-item-title-light;
        }
      }
      &:hover {
        transform: translateY(-10px);
        box-shadow: -5px 14px 10px 0px rgba(0, 0, 0, 0.16);
      }
    }
    &-title {
      position: absolute;
      bottom: 25px;
      left: 30px;
      color: $select-strip-item-title;
      text-decoration: underline;
      font-size: 28px;
      margin: 0;
    }
  }
  &__arrow {
    text-align: center;
  }
}
