$colour_primary: #00249d;
$colour_secondary: #6cb3e1;
$colour_tertiary: #28344e;
$colour_action: #00c994;
$colour_black: #302f2f;
$colour_grey: #ededed;
$colour_dark_grey: #5c5c5c;
$colour_border_grey: #5f5f5f;
$colour_error: #cc0000;
$font_primary: objektiv-mk2, sans-serif;

/*Fonts*/
$body_font_weight: 300;
$body_font_size: 22px;
$header_image_title_size: 58px;
$strip_title_size: $header_image_title_size;

/* Specific section colours */

/*General*/
$text: $colour_black;
$button-bg: $colour_action;
$button-text: #fff;

/*Header*/
$header-bg: $colour_primary;
$header-nav-text: #fff;
$header-sub-nav-bg: $header-bg;
$header-sub-nav-text: $header-nav-text;
$header-image-bg: $colour_primary;
$header-image-text: #fff;
$header-image-text-accent: $header-image-text;
$header-image-button-bg: $colour_action;
$header-image-button-text: #fff;
$header-image-form-bg: $colour_primary;
$header-image-form-text: #fff;
$header-image-form-bg-alt: $colour_grey;
$header-image-cta-bg: $colour_primary;
$header-image-cta-text: #fff;
$header-image-cta-tick-bg: $colour_action;
$header-image-cta-tick: #fff;

/*Down icon*/
$down-icon-bg: #fff;
$down-icon-text: $colour_primary;
$down-icon-hover-bg: $down-icon-bg;
$down-icon-hover-text: $colour_action;

/*Strips*/

$strip-bg: $colour_grey;
$strip-border: $colour_grey;
$strip-text: $text;
$strip-text-accent: $text;
$strip-button-bg: $button-bg;
$strip-button-text: $button-text;
$strip-circle-bg: $colour_grey;

$strip-first-bg: #fff;
$strip-first-border: $strip-first-bg;
$strip-first-text: $text;
$strip-first-text-accent: $strip-first-text;
$strip-first-button-bg: $button-bg;
$strip-first-button-text: $button-text;
$strip-first-circle-bg: #fff;

$strip-alt-bg: $colour_primary;
$strip-alt-border: $strip-alt-bg;
$strip-alt-text: #fff;
$strip-alt-text-accent: #fff;
$strip-alt-button-bg: $colour_grey;
$strip-alt-button-text: $text;
$strip-alt-circle-bg: $colour_primary;

/*Layout bottom strip*/
$strip-bottom-bg: $strip-first-bg;
$strip-bottom-border: $strip-first-border;
$strip-bottom-text: $strip-first-text;
$strip-bottom-text-accent: $strip-first-text-accent;
$strip-bottom-button-bg: $strip-first-button-bg;
$strip-bottom-button-text: $strip-first-button-text;
$strip-bottom-circle-bg: $strip-first-circle-bg;

/*Select strip (tools)*/
$select-strip-bg: #fff;
$select-strip-border: $select-strip-bg;
$select-strip-text: $colour_black;
$select-strip-title-text: $select-strip-text;
$select-strip-title-text: $select-strip-text;
$select-strip-title-text-accent: $select-strip-text;
$select-strip-item-title: #fff;
$select-strip-item-title-light: $colour_black;

/*Brands strip*/
$brands-strip-title-text: $colour_black;

/*Featured strip*/
$featured-strip-title-bg: #a3a3a3;
$featured-strip-title-text: #fff;
$featured-strip-main-bg: #797979;

/*FAQs*/
$faqs-strip-bg: #fff;
$faqs-strip-bottom-bg: #f7f7f7;
$faqs-title-text: $colour_black;
$faqs-question-bg: $colour_action;
$faqs-question-text: #fff;
$faqs-question-count-bg: #fff;
$faqs-question-count-text: $colour_black;
$faqs-answer-bg: $colour_grey;
$faqs-answer-text: $colour_black;

/*Reviews*/
$reviews-strip-bg: #fff;
$reviews-strip-text: $colour_black;
$reviews-strip-title-text: $reviews-strip-text;
$reviews-strip-nav-bg: $colour_primary;
$reviews-strip-nav-text: #fff;
$reviews-strip-nav-bg-hover: $colour_secondary;
$reviews-strip-nav-text-hover: $reviews-strip-nav-text;
$reviews-strip-image-bg: $colour_grey;
$reviews-strip-button-bg: $button-bg;
$reviews-strip-button-text: $button-text;

/*Footer*/
$footer-bg: $colour_tertiary;
$footer-border-top-bg: $footer-bg;
$footer-accent: $colour_dark_grey;
$footer-link-text: #fff;
$footer-link-text-hover: $colour_secondary;

/*Forms*/
$form-bg: #fff;
$form-text: $colour_dark_grey;
$form-fieldset-count-bg: $colour_grey;
$form-fieldset-count-text: $form-text;
$form-fieldset-count-bg-active: $colour_action;
$form-fieldset-count-text-active: #fff;
$form-button-bg: $colour_action;
$form-button-text: #fff;
$form-button-bg-hover: lighten($form-button-bg, 5%);
$form-element-border: $colour_border_grey;
$form-input-border: $form-element-border;
$form-radio-label-bg: darken($colour_grey, 5%);
$form-radio-label-text: $form-text;
$form-radio-label-bg-active: $colour_action;
$form-radio-label-text-active: #fff;
$form-radio-tick-bg: #fff;
$form-postcode-lookup-button-bg: $colour_action;
$form-postcode-lookup-button-text: #fff;

/*Modal*/
$modal-bg: #fff;
$modal-title-text: $colour_dark_grey;
$modal-inner-title-text: $colour_secondary;
$modal-text: $colour_black;

/*Buyer panel*/
$buyer-panel-text: $colour_dark_grey;


/*Process strip*/
$process-strip-bg: #fff;
$process-strip-border: $colour_action;
$process-strip-text: $text;
$process-strip-image-bg: $colour_action;
$process-strip-button-bg: $button-bg;
$process-strip-button-text: $button-text;