.why-use {
  border-top: 34px solid $colour_tertiary;
  padding: 120px 0;
  &__wrapper {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  &__title {
    line-height: 1;
    font-size: 70px;
    color: $colour_secondary;
    margin-top: 0;
  }
  .button {
    margin-top: 40px;
  }
}
