.why-use {
  border-top: 34px solid $colour_tertiary;
  padding: 120px 0;
  @include in_size($xs) {
    padding: 30px 0;
  }
  &__wrapper {
    text-align: center;
    @include in_size($lg) {
      margin: 0 auto;
      width: 50%;
    }
  }
  &__title {
    line-height: 1;
    font-size: 70px;
    color: $colour_secondary;
    margin-top: 0;
    @include in_size($xs) {
      font-size: 40px;
    }
  }
  .button {
    margin-top: 40px;
  }
}
