backend:
  name: git-gateway
  branch: master # Branch to update (master by default)

media_folder: "images/upload" # Folder where user uploaded files should go

collections: # A list of collections the CMS should be able to edit
  - name: "page"
    label: "Page"
    folder: "pages"
    sort: "title:asc"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Layout", name: "layout", widget: "string", default: "page" }
      - { label: "Title", name: "title", widget: "string", tagname: "h1" }
      - { label: "Reference", name: "reference", widget: "string" }
      - { label: "Section", name: "section", widget: "string" }
      - { label: "Description", name: "description", widget: "text" }
      - { label: "Permalink", name: "permalink", widget: "string" }
      - {
          label: "Header Content",
          name: "header_content",
          widget: "markdown",
          required: false,
        }
      - label: "Strip 1"
        name: "strip_1"
        widget: "object"
        fields:
          - { label: "Image", name: "image", widget: "image" }
          - label: "Image position"
            name: "image_position"
            widget: "select"
            options: ["left", "right"]
          - { label: "Text", name: "text", widget: "markdown" }
      - label: "Strip 2"
        name: "strip_2"
        widget: "object"
        fields:
          - { label: "Image", name: "image", widget: "image" }
          - label: "Image position"
            name: "image_position"
            widget: "select"
            options: ["left", "right"]
          - { label: "Text", name: "text", widget: "markdown" }
      - label: "Strip 3"
        name: "strip_3"
        widget: "object"
        fields:
          - { label: "Image", name: "image", widget: "image" }
          - label: "Image position"
            name: "image_position"
            widget: "select"
            options: ["left", "right"]
          - { label: "Text", name: "text", widget: "markdown" }
  - name: "config"
    label: "Config"
    preview: false
    files:
      - label: "Footer navigation"
        name: "navigation"
        file: "_data/footer_navigation.yml"
        fields:
          - label: "Footer Navigation Items"
            name: "items"
            widget: "list"
            fields:
              - { label: Name, name: name, widget: string }
              - { label: Link, name: link, widget: string }
              - { label: Is header?, name: header, widget: boolean }
      - label: "Reviews"
        name: "reviews"
        file: "_data/reviews.yml"
        fields:
          - label: "Reviews"
            name: "items"
            widget: "list"
            fields:
              - { label: Name, name: name, widget: string }
              - { label: Text, name: text, widget: markdown }
              - { label: Image, name: image, widget: image }
              - { label: Category, name: category, widget: string }
      - label: "FAQs"
        name: "faqs"
        file: "_data/faqs.yml"
        fields:
          - label: "FAQs"
            name: "items"
            widget: "list"
            fields:
              - { label: Question, name: question, widget: string }
              - { label: Answer, name: answer, widget: markdown }
              - { label: Category, name: category, widget: string }
      - label: "Forms"
        name: "forms"
        file: "_data/forms.yml"
        fields:
          - label: "Forms"
            name: "items"
            widget: "list"
            fields:
              - { label: Title, name: title, widget: string }
              - { label: Submit text, name: submit_text, widget: string }
              - { label: Category, name: category, widget: string }
              - { label: Pre text, name: pre_text, widget: markdown }
              - {
                  label: Personal details pre text,
                  name: data_capture_pre_text,
                  widget: markdown,
                }
              - {
                  label: Personal details post text,
                  name: data_capture_post_text,
                  widget: string,
                }
              - label: Fields
                name: form_fields
                widget: list
                fields:
                  - { label: Name, name: name, widget: string }
                  - {
                      label: Helptext,
                      name: helptext,
                      widget: string,
                      required: false,
                    }
                  - { label: Type, name: type, widget: string }
                  - {
                      label: Placeholder,
                      name: placeholder,
                      widget: string,
                      required: false,
                    }
                  - label: Options
                    name: options
                    widget: list
                    fields:
                      - { label: Name, name: name, widget: string }
                  - {
                      label: Required?,
                      name: required,
                      widget: boolean,
                      required: false,
                    }
      - label: "Sections"
        name: "sections"
        file: "_data/sections.yml"
        fields:
          - label: "Sections"
            name: "items"
            widget: "list"
            fields:
              - { label: Title, name: title, widget: string }
              - { label: Colour, name: colour, widget: string }
              - { label: Image, name: image, widget: image }
              - label: Sub sections
                name: sub_sections
                widget: list
                fields:
                  - { label: Title, name: title, widget: string }
                  - { label: Colour, name: colour, widget: string }
                  - { label: Image, name: image, widget: image }
