<!DOCTYPE html>
<html lang="en-gb">
{%- include head.html layout=page.layout -%}

<body>
    {%- include header.html -%}
    {%- include header_image.html content=page.header_content layout="home" roundels=page.header_icons -%}
    {%- include featured_strip.html -%}
    {%- include image-strip.html image_position="right" image="laptop.png" text=page.strip_2_content -%}
    {%- include image-strip.html image_position="left" image="phone-hand.png" text=page.  -%}
    {%- include image-strip.html image_position="right" image="laptop.png" text=page.strip_2_content -%}
    {%- include footer.html -%}
    {%- include foot.html -%}
</body>

</html>