<!DOCTYPE html>
<html lang="en-gb">
{%- include head.html layout=page.layout -%}

<body>
    {%- include_cached header.html -%}
    <div class="page-text">
        <div class="container">
            <div class="page-text__wrapper">
                <h2>Sitemap</h2>
                <ul>
                    {% assign pages = site.pages | sort: "permalink" %}
                    {% assign current_dir = ''%}
                    {% for page in pages %}
                    {% assign permalink_arr = page.permalink | split: "/" %}
                    {% if permalink_arr.size > 0 and permalink_arr[1] != current_dir %}
                    {% assign current_dir = permalink_arr[1]%}
                </ul>
                <ul>
                    <h3>{{permalink_arr[1] | capitalize}}</h3>
                    {% endif %}
                    {% if page.layout != nil and page.layout != 'feed' and page.title.size > 1%}
                    <li><a href="{{site.url}}{{ page.url | remove: 'index.html' }}">{{page.title}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {%- include_cached footer.html -%}
    {%- include foot.html layout=page.layout -%}
</body>

</html>